body
{
    background-color: #030705;
    overflow: hidden;
    //font-family: 'Droid Sans Mono';
    font-family: 'Calibri';
    font-size: 24px;
}

html
{
    cursor: url(cursor.cur), default;
}

::-webkit-scrollbar
{
    width: 12px;
}
 
::-webkit-scrollbar-thumb
{
    background-color: #003526;
}

#console_text
{
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 10px;
    height: 640px;
    padding: 10px;
}

input
{
    background-color: #030705;
    text-align: center;
    font-size: 24px;
    border-style: none;
    color: #007344;
    outline-width: 0px;
    width:100%;
    position: fixed;
    bottom: 10px;
    cursor: url(cursor.cur), default;
}

::selection      { background: #03d090; }
::-moz-selection { background: #03d090; }

.user_output     { color: #003526; }
.console_output  { color: #005546; }